[package]
name = "helios"
version = "0.1.3"
edition = "2021"
autobenches = false

[workspace]
members = [
    "cli",
    "client",
    "common",
    "config",
    "consensus",
    "execution",
    "helios-ts",
]

[dependencies]
client = { path = "./client" }
config = { path = "./config" }
common = { path = "./common" }
consensus = { path = "./consensus" }
execution = { path = "./execution" }

# [dev-dependencies]
# tokio = { version = "1", features = ["full"] }
# eyre = "0.6.8"
# home = "0.5.4"
# env_logger = "0.9.0"
# log = "0.4.17"
# tracing-test = "0.2.3"
# criterion = { version = "0.4", features = [ "async_tokio", "plotters" ]}
# plotters = "0.3.3"
# tempfile = "3.3.0"
# hex = "0.4.3"

[patch.crates-io]
ethers = { git = "https://github.com/gakonst/ethers-rs", rev = "c17c0c3c956f12d205a5ede3176599d8a30ca739" }

[profile.release]
strip = true
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"

######################################
# Examples
######################################

[[example]]
name = "checkpoints"
path = "examples/checkpoints.rs"

[[example]]
name = "basic"
path = "examples/basic.rs"

[[example]]
name = "client"
path = "examples/client.rs"

[[example]]
name = "config"
path = "examples/config.rs"

######################################
# Benchmarks
######################################

[[bench]]
name = "file_db"
harness = false

[[bench]]
name = "get_balance"
harness = false

[[bench]]
name = "get_code"
harness = false

[[bench]]
name = "sync"
harness = false
