[package]
name = "helios"
version = "0.1.0"
edition = "2021"

[workspace]

members = [
    "cli",
    "client",
    "common",
    "config",
    "consensus",
    "execution",
]

[dependencies]
client = { path = "./client" }
config = { path = "./config" }
common = { path = "./common" }
consensus = { path = "./consensus" }
execution = { path = "./execution" }

[patch.crates-io]
ethers = { git = "https://github.com/ncitron/ethers-rs", branch = "fix-retry" }

