[package]
name = "cli"
version = "0.4.1"
edition = "2021"

[[bin]]
name = "helios"
path = "src/main.rs"

[dependencies]
tokio.workspace = true
eyre.workspace = true
tracing.workspace = true
futures.workspace = true

clap = { version = "3.2.18", features = ["derive", "env"] }
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
dirs = "4.0.0"
ctrlc = "3.2.3"

client = { path = "../client" }
config = { path = "../config" }
consensus = { path = "../consensus" }
common = { path = "../common" }
