[package]
name = "lightclient"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version = "1", features = ["full"] }
clap = { version = "3.2.18", features = ["derive"] }
eyre = "0.6.8"
dirs = "4.0.0"
env_logger = "0.9.0"
log = "0.4.17"

client = { path = "../client" }
config = { path = "../config" }
common = { path = "../common" }
